
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="/" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <li><a href="/users" class=""><i class="lnr lnr-users"></i> <span>Pengguna</span></a></li>
                <!-- <li><a href="/karakteristik" class=""><i class="lnr lnr-file-empty"></i> <span>Karakteristik</span></a></li>
                <li><a href="/spesifik" class=""><i class="lnr lnr-file-empty"></i> <span>Spesifik</span></a></li>
                <li><a href="/jenis_pesawat" class=""><i class="lnr lnr-file-empty"></i> <span>Jenis Pesawat</span></a></li> -->
                <li><a href="/dataset" class=""><i class="lnr lnr-file-empty"></i> <span>Dataset</span></a></li>
                <li><a href="/klasifikasisvm" class=""><i class="lnr lnr-file-empty"></i> <span>Klasifikasi SVM</span></a></li>
                <!-- <li><a href="/upload" class=""><i class="lnr lnr-file-empty"></i> <span>Import</span></a></li> -->
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->